:root {
  --color-background: #FFE8AD;
  --color-border: #653723;
  --color-text: #1f0d05;
  --color-text-secondary: #f3f0ee;
  --color-text-title: #411f10;

  --color-highlight: #FFB637;

  --space-s: 2px;
  --space-m: 6px;
  --space-l: 12px;
  --space-xl: 24px;

  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 12px;

  --duration-fast: 100ms;
  --duration-slow: 250ms;

  --shadow-default: 0 3px 5px 1px rgb(59 59 59 / 33%);

  --size-page: 800px;
  --size-border: 3px;
}
