header img {
  max-width: 100%;
}

.nav {
  display: flex;
  gap: var(--space-l);
}

.title > * {
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title h1 {
  font-size: 70px;
  font-weight: 900;
  margin-bottom: var(--space-l);
}

.title p {
  margin-top: 0;
  font-size: 30px;
}

.links,
.links > * {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--space-l);
  align-items: center;
}

.links {
  gap: calc(var(--space-l) * 4);
}

.playButton {
  font-size: 30px;
  flex-grow: unset;
}

.play {
  width: 100%;
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.play p {
  font-size: xx-large;
}
