.teamMember h3 {
  margin-top: 0px;
}

.teamMember {
  border: var(--size-border) solid var(--color-border);
  border-radius: var(--radius-m);
}

.info {
  padding: var(--space-m);
}

.team {
  display: grid;
  gap: var(--space-l);
  margin-top: var(--space-l);
  margin-bottom: var(--space-l);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.team img  {
    width: 100%;
}
